In [12]:
import pandas as pd
import os

In [13]:
DEV_ENV = '\\dev'
TEST_ENV = '\\test'
TRAIN_ENV = '\\train'

In [14]:
train_path = os.getcwd()+TRAIN_ENV
train_path

'C:\\Users\\Ajeya.Kempegowda\\Documents\\ajeya\\enron\\AESLC-master\\enron_subject_line\\train'

In [15]:
# separating received and sent emails
inbox_file_list, sent_file_list = [],[]
for filename in os.listdir(train_path):
    if 'inbox' in filename:
        inbox_file_list.append(filename)
    else:
        sent_file_list.append(filename)

In [16]:
# Quick smoke test
with open(train_path + "\\" + inbox_file_list[0], 'r') as f:
    file_content = f.read()
file_content

'Greg/Phillip,  Attached is the Grande Communications Service Agreement.\nThe business points can be found in Exhibit C.  I Can get the Non-Disturbance agreement after it has been executed by you and Grande.\nI will fill in the Legal description of the property one I have received it.\nPlease execute and send to:  Grande Communications, 401 Carlson Circle, San Marcos Texas, 78666 Attention Hunter Williams.\n<<Bishopscontract.doc>>\n\n@subject\nService Agreement'

In [17]:
# We can extract user name from the received file name
inbox_file_list[0].split("_inbox")

['allen-p', '_20.subject']

In [18]:
def _remove_spaces(s):
    """
    Input: List of strings
    Logic: Removes empty strings in the list and joins strings in the list to form a sentence
    return value: A string
    """
    return (" ".join(list(filter(None, s.split("\n")))))
    

def _getdf(file_dir, file_list, delimiter="_inbox"):
    """
    Input: Project directory(string), list of file names and delimter to split text
    Logic: 
        1. Iterates through all files in the directory and reads the text.
        2. Separated email body and subject line
        3. Processes the text to remove empty quotes
    return value: Pandas Dataframe of email body, subject line and other required information.
    """
    email_body_list, subject_line_list, user_list, email_id_list = [], [], [], []

    # open files and parse the data
    for emails in file_list:
        with open(file_dir + "\\" + emails, 'r') as f:
            try:
                file_content = f.read()
                # to separate email body from subject line
                doc_split = file_content.split("@subject")
                email_body_list.append(_remove_spaces(doc_split[0]))
                subject_line_list.append(doc_split[1])
                # split file name string to get user and email category(sent/received)                 
                file_name_split = emails.split(delimiter)
                user_list.append(file_name_split[0])
                # email id as unique identifier                 
                email_id_list.append(file_name_split[1])
            except Exception as e:
                print(e)
                continue
    # construct tidy data 
    df = pd.DataFrame(data={'e_id': email_id_list,
                            'email_body':email_body_list,
                            'subject_line':subject_line_list,
                            'user':user_list})
    df['subject_line'] = df['subject_line'].apply(lambda x: x.strip('\n'))
    return(df)

In [19]:
received_emails = _getdf(train_path, inbox_file_list)
received_emails.head()

,e_id,email_body,subject_line,user
0,_20.subject,"Greg/Phillip, Attached is the Grande Communic...",Service Agreement,allen-p
1,_28.subject,Phillip & Keith Attached is the first draw re...,Bishops Corner,allen-p
2,_63.subject,Your Internet Banking accounts are now setup a...,Internet Banking,allen-p
3,_64.subject,To our IBS Customers that are still hanging in...,Internet Banking,allen-p
4,_65.subject,Phillip Good Morning! I hope you had a wonderf...,SMEs for expert stories,allen-p

In [20]:
print(received_emails.shape)
received_emails.describe()

(8062, 4)

,e_id,email_body,subject_line,user
count,8062,8062,8062,8062
unique,1522,7170,6599,135
top,_19.subject,"Dear Power Outage Database Customer, Attached...",Expense Reports Awaiting Your Approval,lay-k
freq,32,15,39,472

In [21]:
# smoke test on sent emails
with open(train_path + "\\" + sent_file_list[0], 'r') as f:
    file_content = f.read()
file_content

"Wade,   I understood your number one priority was to deal with your vehicle  situation.\nYou need to take care of it this week.\nLucy can't hold the  tenants to a standard (vehicles must be in running order with valid stickers)  if the staff doesn't live up to it.\nIf you decide to buy a small truck and  you want to list me as an employer for credit purposes, I will vouch for your  income.\nPhillip\n\n@subject\nFor Wade"

In [22]:
# We can extract user name from the sent file name
sent_file_list[0].split("_sent")

['allen-p', '_161.subject']

In [23]:
len(sent_file_list)

6374

In [24]:
sent_emails = _getdf(train_path, sent_file_list, delimiter="_sent")
sent_emails.head()

,e_id,email_body,subject_line,user
0,_161.subject,"Wade, I understood your number one priority ...",For Wade,allen-p
1,_251.subject,"Will, Here is a list of the top items we nee...",Priority List,allen-p
2,_3.subject,"Christy, I read these points and they defini...",Talking points about California Gas market,allen-p
3,_50.subject,"Jed, I understand you have been contacted re...",Enron,allen-p
4,_500.subject,"Griff, Can you accomodate Dexter as we have...",NGI access to eol,allen-p

In [28]:
received_emails.to_csv(train_path+"-received.csv")
sent_emails.to_csv(train_path+"-sent.csv")

In [26]:
with open(train_path + "\\" + 'arnold-j_inbox_36.subject', 'r') as f:
    file_content = f.read()
    # to separate email body from subject line
    doc_split = file_content.split("@subject")